.hero{
  height: 530px;
  background-image: url(sunflower-field.jpg);
  background-size: cover;
  &__title{
    position: relative;
    padding: 20px 20px 5px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    h1{
      padding: 130px 0 0;
      font-weight: 700;
      font-size: 26px;
    }
    h2{
      padding: 15px 0 28px;
      font-weight: 400;
      font-size: 24px;
    }
  }
  &__search{
    max-width: 800px;
    text-align: center;
    padding: 0 20px;
    margin: 5px auto;
    .search-box{
      position: relative;
      &__icon{
        border: none;
        background-color: #fff;
        border-radius: 5px;
        float: left;
        width: 50px;
        height: 48px;
        position: absolute;
        top: 2px;
        left: 0;
        i{
          font-size: 25px;
          color: #191b26;
          opacity: .65;
        }
      }
      &__box{
        border-radius: 5px;
        border: none;
        width: 100%;
        padding: 0 50px;
        line-height: 52px;
      }
    }
  }
}
.index-text{
  margin-bottom: 100px;
  &__group{
    width: 60%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 100px 20px 0;
    text-align: center;
    h2{
      font-size: 30px;
      margin-bottom: 20px;
    }
    p{
      margin-bottom: 35px;
      line-height: 1.6;
    }
    .skill{
      overflow: hidden;
      width: 100%;
      img{
        float: left;
        width: 10%;
        padding: 5%;
      }
      p{
        float: right;
        width: 80%;
        margin: 0;
        padding: 5% 0;
        text-align: start;
      }
    }
    .tool{
      overflow: hidden;
      width: 100%;
      img{
        float: left;
        width: 10%;
        padding: 5%;
      }
      p{
        float: right;
        width: 80%;
        margin: 0;
        padding: 5% 0;
        text-align: start;
      }
    }
    a{
      text-decoration: none;
      background-color: $pointColor;
      padding: 10px 26px;
      border-radius: 17px;
      font-size: 16px;
      color: #fff;
    }
  }
}