.download-page{
  max-width: 1310px;
  margin: 32px auto;
  display: flex;
  justify-content: space-between;
  &__left-box{
    padding-right: 50px;
    width: 100%;
    height: auto;
    img{
      width: 100%;
      background: linear-gradient(45deg,#efefef 25%);
    }
    .comments{
      i{
        width: 48px;
        height: 48px;
        font-size: 48px;
        margin-right: 12px;
      }
      textarea{
        width: 80%;
        height: 62px;
      }
    }
  }
  &__right-box{
    width: 320px;
    .provider-info{
      overflow: hidden;
      padding-bottom: 20px;
      border-bottom: #eeeff2 solid 1px;
      i{
        float: left;
        width: 48px;
        height: 48px;
        font-size: 48px;
        margin-right: 12px;
      }
      p{
        color: #555;
        font-size: 15px;
        margin-bottom: 10px;
      }
      button{
        padding: 6px 12px;
        font-size: 12px;
        border: none;
        border-radius: 50px;
      }
      .coffee{
        background-color: $pointColor;
        color: #fff;
      }
    }
    .valuation{
      padding: 16px 0 14px;
      border-bottom: #eeeff2 solid 1px;
      a{
        text-decoration: none;
        color: #fff;
        background-color: $pointColor;
        display: inline-block;
        padding: 0 15px;
        width: 18%;
        margin: 0 1%;
        height: 26px;
        line-height: 27px;
        font-size: 13px;
        max-width: 100px;
        border-radius: 50px;
        text-align: center;
      }
    }
    .download-btn{
      margin-top: 20px;
      text-align: center;
      a{
        display: inline-block;
        padding: 10px 40px;
        text-decoration: none;
        color: #fff;
        background-color: $pointColor;
        border-radius: 50px;
      }
    }
    .picture-info{
      margin-top: 20px;
      .camera{
        padding: 15px 20px;
        background: #f6f5fa;
        border-bottom: 1px solid #eeeff2;
        line-height: 1.7;
        a{
          text-decoration: none;
          i{
            color: #636363;
          }
          span{
            color: #0a88d3;
          }
        }
        p{
          font-size: 12px;
          color: #636363;
        }
      }
      .details{
        padding: 15px 20px;
        background: #f6f5fa;
        font-size: 13px;
        color: #636363;
        .detail-item{
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .license{
      margin-top: 20px;
      padding: 15px 20px;
      background: #f6f5fa;
      line-height: 1.5;
      a{
        text-decoration: none;
        color: #0a88d3;
      }
      p{
        font-size: 13px;
        color: #636363;
      }
    }
    .likes-at-facebook{
      margin: 20px 0;
      padding: 15px 20px;
      background: #f6f5fa;
      p{
        font-size: 14px;
      }
    }
    .related-pictures{
      margin: 20px 0 5px;
      padding: 5px 15px;
      background: #f6f5fa;
      p{
        font-size: 12px;
        color: #191b26;
      }
    }
  }
}