.background{
  background-image: image-url(view-point-5392036_1920.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  .sign-up{
    max-width: 400px;
    margin: 0 auto;
    padding-top: 100px;
    &__wrapper{
      text-align: center;
      background-color: #fff;
      padding: 20px 25px;
      border-radius: 5px 5px 0 0;
      .swith-tab{
        font-size: 20px;
        border-bottom: 1px solid #f0f1f4;
        a{
          text-decoration: none;
          display: inline-block;
          padding: 10px 0;
          margin: 0 15px;
          cursor: pointer;
          color: #71767a;
          line-height: 24px;
        }
        .active{
          color: $blueColor;
          border-bottom: $blueColor 2px solid 
        }
      }
      .social-auth{
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        .facebook{
          border-radius: 50px;
          width: 42%;
          display: inline-block;
          text-decoration: none;
          padding: 12px 10px;
          margin: 30px 0 10px;
          background-color: #3b5998;
          color: #fff;
        }
        .google{
          border-radius: 50px;
          width: 42%;
          display: inline-block;
          text-decoration: none;
          padding: 12px 10px;
          margin: 30px 0 10px;
          background-color: #d73d32;
          color: #fff;
        }
      }
      form{
        .field{
          margin-bottom: 10px;
          line-height: 1.6;
          input{
            padding: 12px 10px 11px !important;
            width: 100%;
          }
        }
        .remember-me{
          cursor: pointer;
          input{
            display: inline-block;
          }
        }
        .actions{
          margin-bottom: 10px;
          border-radius: 50px;
          border: none;
          input{
            display: block;
            border: none;
            color: #fff;
            border-radius: 50px;
            width: 100%;
            background-color: $pointColor;
            padding: 12px 10px
          }
        }
      }
    }
    .terms{
      padding: 20px 25px;
      background: #f7f7f7;
      font-size: 13px;
      line-height: 1.7;
      text-align: center;
      border-radius: 0 0 5px 5px;
    }
  }
}