#colums-accordion.hidden
  .colums
    .menu-colums
      .media
        %b Media
        =link_to '写真', '#'
        =link_to 'イラスト', '#'
        =link_to 'ベクトル', '#'
        =link_to '動画', '#'
        %hr
        =link_to "Editor's choice", '#'
        =link_to 'Popular Images', '#'
        =link_to 'Popular Videos', '#'
      .community
        %b Community
        =link_to 'ブログ', '#'
        =link_to 'フォーラム', '#'
        =link_to 'Artists', '#'
        =link_to 'カメラ', '#'
      .about
        %b About
        =link_to 'よくある質問', '#'
        =link_to 'サービス規約', '#'
        =link_to '個人情報保護方針', '#'
        =link_to '私たちについて', '#'
        =link_to 'API', '#'
        =link_to 'Language', '#'
        %hr
        .sns-icons
          =link_to '#' do
            %i.fab.fa-facebook-square
          =link_to '#' do
            %i.fab.fa-instagram
          =link_to '#' do
            %i.fab.fa-twitter
      